@model Association

<h1>@ViewBag.Product.Name</h1>
<form>
    <div class="form-group">
        <button class="btn btn-outline-success" asp-action="Products" asp-controller="Home">Return to Products</button>
    </div>
</form>

<div class="row justify-content-around">
    <div class="col-5">
        <h2>Categories</h2>
        @foreach(var p in ViewBag.Product.AssocCategories)
        {
            <p>@p.Category.Name</p><br>
        }
    </div>

    <form asp-action="Process" asp-controller="Home" asp-route-path="product" method="POST">
        <div class="form-group">
            <input type="hidden" asp-for="ProductId" value="@ViewBag.Product.ProductId">
            <label>Categories:</label>
            <select asp-for="CategoryId">
                @foreach(var c in ViewBag.NotOnProduct)
                {
                    <option value="@c.CategoryId">@c.Name</option>
                }
            </select>
            <div class="form-group">
                <input class="btn btn-outline-warning btn-dark" type="submit" value="Add Product to @ViewBag.Product.Name">
            </div>
        </div>
    </form>
</div>