@model Wedding

<div class="text-right">
    <p class="list-inline-item"><a asp-action="Index" asp-controller="Wedding">Back to Weddings</a></p>
    <p class="list-inline-item"><a asp-action="Logout" asp-controller="Home">Logout</a></p>
</div>

<h1>@Model.WedderOne & @Model.WedderTwo's Wedding</h1>

<h2>Date: @Model.Date.ToLongDateString()</h2>
<h2>Time: @Model.Date.ToShortTimeString()</h2>
<p>Planner: @Model.Planner.FirstName @Model.Planner.LastName</p>
<br>
<h3>Guests:</h3>
@foreach(var r in Model.GuestList)
{
    <p>@r.Guest.FirstName @r.Guest.LastName</p>
}

